{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h1 class="docs header">Welcome to DBoard</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <div class="panel radius">
      <h3>Please sign in</h3>

      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div data-alert class="alert-box alert radius">
          {{ form.non_field_errors|striptags }}
          <a href="" class="close">&times;</a>
        </div>
        {% endif %}
        {% for field in form %}
        <div class="row">
          <div class="large-12 large-centered columns">
            {% if field.errors %}
            <div class="error">
            {% endif %}
              {{ field.label_tag }}
              {{ field }}
            {% if field.errors %}
            </div>
            <small class="error">{{ field.errors|striptags }}</small>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <input type="submit" value="Sign in" class="small button radius" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
